body{
    font-family: 'Libre Baskerville', serif;
    background-color: #eeeeee;
    margin: 0;

    
    .wrapper{
        border: 1px solid red;
        width: 90%;
        margin: 0 auto;
    }

}


